<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import type User from "@/types/User";
import { mdiPencil, mdiDelete, mdiPlus } from "@mdi/js";
const userStore = useUserStore();

function deleteUser(index: number) {
  userStore.deleteUser(index);
}
function addNewUser() {
  userStore.dialog = true;
}

function editUser(user: User) {
  userStore.editUser(user);
  userStore.dialog = true;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="3" offset="9">
        <v-btn color="primary" :prepend-icon="mdiPlus" @click="addNewUser"
          >Add New
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Login</th>
              <th>Name</th>
              <th>Password</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of userStore.users" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.login }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.password }}</td>
              <td>
                <v-btn
                  class="ma-1"
                  color="secondary"
                  :icon="mdiPencil"
                  @click="editUser(item)"
                ></v-btn>
                <v-btn
                  class="ma-1"
                  color="error"
                  :icon="mdiDelete"
                  @click="deleteUser(item.id)"
                ></v-btn>
              </td>
            </tr>
          </tbody> </v-table
      ></v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
